#Fix Rewrite
Options -Multiviews
 
# Mod Rewrite
Options +FollowSymLinks
RewriteEngine On
RewriteBase /
 
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
 
# changes "netscope.com/login.php" to "netscope.com/login/"
RewriteRule ^([a-z_]+)\/?$ $1.php [NC]